<!DOCTYPE html>
<head>
    <title>ACCESS:DENIED·Web Base/title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
 <body>
  <header>
      <ul>
        <li><a href="/">Home</a></li>
        {% if 'UserId' in session %} 
        <li><a href="/profile">Profile</a></li>
        <li><a href="/auth/logout">Logout</a></li>
        {% else %}
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/signup">Signup</a></li>
        {% endif %}
      </ul>
</header>
    <style>
        h2 {color: red}
        body{color: black;}
    </style>
    <body>
        <h2> ACCESS DENIED </h2>