<!DOCTYPE html>
<head>
    <html lang = "en">
      <link rel="shortcut icon" href="{{ url_for('static', filename= 'favicon.png')}}" />
    <title>Logout·Web Base</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head><body>
  <header>
      <ul>
        <li><a href="/">Home</a></li>
        {% if 'UserId' in session %} 
        <li><a href="/profile">Profile</a></li>
        <li><a class="active" href="/auth/logout">Logout</a></li>
        {% else %}
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/signup">Signup</a></li>
        {% endif %}
      </ul>
</header>
    <h5>You have now successfully logged out from Web Base</h5>
    Bye
</body>
</html>